@model IEnumerable<OyuncuTabani.Models.Futbolcu>

@{
    ViewBag.Title = "AdminPanelIndex";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fsoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dtarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fmevki)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fsoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dtarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fmevki)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.FutbolcuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FutbolcuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FutbolcuID })
        </td>
    </tr>
}

</table>
